{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
  <form action ="/login" method="POST">
		<div class="mb-3">	
			{{ form.hidden_tag() }}
			{{ form.username.label(class="form-label") }}
			{{ form.username(class="form-control") }}
		</div>
		<div class="mb-3">
			{{ form.password.label(class="form-label") }}
			{{ form.password(class="form-control") }}
		</div>
		{{ form.submit(class="btn btn-primary") }}
	</form>
	<br>
	<div>
		<p>You Dont Have an Account? <a href="register">Sign up</a></p>
	</div>
{% endblock %}